<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><strong>BootCamp</strong></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/login">Sign Up</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>